<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Outeredge_EdgeMagentoModuleProductCategoryAdjustment>
      <version>0.0.1</version>
    </Outeredge_EdgeMagentoModuleProductCategoryAdjustment>
  </modules>
  <global>
    <helpers>
      <edgemagentomoduleproductcategoryadjustment>
        <class>Outeredge_EdgeMagentoModuleProductCategoryAdjustment_Helper</class>
      </edgemagentomoduleproductcategoryadjustment>
    </helpers>
	<models>
	  <edgemagentomoduleproductcategoryadjustment>
		<class>Outeredge_EdgeMagentoModuleProductCategoryAdjustment_Model</class>
		<resourceModel>edgemagentomoduleproductcategoryadjustment_mysql4</resourceModel>
	  </edgemagentomoduleproductcategoryadjustment>
			<catalog_resource>
				<rewrite>
					<product::_savecategories>Outeredge_EdgeMagentoModuleProductCategoryAdjustment_Model_Catalog_Resource_Product::_saveCategories</product::_savecategories>
				</rewrite>
			</catalog_resource>
	</models>
  </global>
</config> 